ion-menu{
    ion-content{
        --ion-background-color: rgb(80, 80, 228);
        
    }
    ion-list{
        ion-label{
            color:rgb(193, 233, 247);
        }
    }
    ion-header{
        ion-toolbar{
            background-color:darkblue;
            color:white;
        }
       
    }
}