<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="locations"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Estates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of result">
    <ion-item color="success">
      <ion-label > {{item.region}}</ion-label>
    </ion-item>
    <ion-list>
        <ion-item *ngFor="let estate of item.estates">
          <ion-thumbnail slot="start" >
            <img src="{{estate.image}}">
          </ion-thumbnail>
          <div>
            <h2>Ref No.{{estate.refNumber}}</h2>
            <p style="font-size: 16px;">{{estate.type}}, {{estate.bedrooms}} Bedrooms</p>
            <p style="font-size: 14px;">{{name}}, {{estate.region}}</p>
          </div>
          <ion-button fill="clear" slot="end" (click)="onDtClick(estate.id, estate.region)">View</ion-button>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
