<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Royal Estates
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="success">
    <ion-title>
      My Estates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mydivbox" *ngIf="savedEstates.length < 1">
    <h2>Select the button below and find new locations</h2>
    <ion-button expand="full"  color="primary" href="/locations">
      <ion-icon name="search"></ion-icon>
      Find a Location</ion-button>
  </div>
  <div class="mydivboxitems" *ngIf="savedEstates.length > 0">
    <p slot="start">Saved Estates</p>
    <ion-list>
      <ion-item *ngFor="let estate of savedEstates">
        <ion-thumbnail slot="start" >
          <img src="{{estate.image}}">
        </ion-thumbnail>
        <div>
          <h2>Ref No.{{estate.refNumber}}</h2>
          <p style="font-size: 16px;">{{estate.type}}, {{estate.bedrooms}} Bedrooms</p>
          <p style="font-size: 14px;">{{estate.locationName}}, {{estate.region}}</p>
        </div>
        <ion-button fill="clear" slot="end" (click)="onClick(estate.id, estate.region, estate.locationId, estate.locationName, estate.refNumber, estate.latitude, estate.longitude)">View</ion-button>
      </ion-item>
    </ion-list>
    <p>To save more estates, select a location, then you can save estates from their estate overview page.</p>
    <ion-button expand="full"  color="primary" href="/locations">
      <ion-icon name="search"></ion-icon>
      Find a Location</ion-button>
  </div>
</ion-content>
